
* { box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-size: 1em;
    font-family: 'Catamaran', sans-serif;
}


p {margin:15px 0px;}

.highlow p, .conditions p {margin:0px 0px;}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    margin: 1em 0;
    padding: 0; 
}

header, nav, main, footer {
    max-width: 100%;
    overflow:hidden;
}

header {
    background:linear-gradient(#fff, #ccc); 
    text-align:center;
}
header h1 {
    position:absolute; 
    left:-9999px;
}
header img {
    width:250px;
    padding:25px 25px 0px 25px;
}
header .subheading {
    font-size:0.8em;
    font-style:italic;
    color:#1e5269;
    padding:10px 0;
}

nav {
    background:#1e5269;
}
nav button {
    color: #1E5269;
    background: transparent;
    padding: 10px 20px;
    font-size: 1.5em;
    border: none;
    position: absolute;
    top: 35px;
}
nav ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
}
nav ul li {
    display: block;
}
nav ul li a {
    display: block;
    color:rgba(255,255,255,1); 
    text-decoration:none;  
    font-size:1em;
    padding:.75em 1.2em;
    transition: all .3s ease-in-out;
    border-top:1px solid rgba(0,0,0,0.2);
}
nav ul li.active a {background-color: rgba(0,0,0,0.2);}
nav ul li a:hover {background-color:rgba(0,0,0,0.25);}

nav ul.hide {display:none;}

main {}
main h2 {font-size:2em; margin:0; padding:20px;}
main figure {width:100%; height:auto;}
main figure img {width:100%; height:auto;}
main figure figcaption {margin:-30px 0 6px 20px; color:#fff;}
main article {display:block; background:#fff; padding:0 20px;}
main article img {width:100%; height:auto;}
main article h3 {margin:15px 0;}

.container {width:100%;}
.lower-container {display:inline-block; padding-bottom:20px;}
.left-side, .right-side {width:100%;}
.left-side figure {}
.left-side figure img {max-width: 100%; object-fit:fill;}

.clearfix {clear:both;}

table {width:100%; text-align:center; border-collapse: collapse;}
tr td img {width:32px; height:auto;}
tr th {padding:5px 0px; font-weight:300; color:#6eb8d8;}
th, td {border-left:1px solid #236683;}

section.weather-summary { width:100%; padding:0px 20px;}
section.weather-summary h3 {margin:0;}
section.weather-summary .current {float:right; width:70px; text-align:center; margin-top:-20px;}
section.weather-summary figure img {height:70px; width:70px;}

section.forecast {clear:both; display:none;}
section.forecast h3 {padding:10px; text-align: center; background:#8DC63F; color:#3e5819;}

footer {text-align:center;}
footer section.contact {background:#1e5269; color:#fff; padding:20px; font-size:0.9em;}
footer section.footer-bar { font-size: 0.7em; display:block; color:#fff; background:#184254; padding:10px}
