@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    
    section.forecast {
      clear:both; 
      background:#1e5269; 
      color:#fff; 
      display:block;
      margin-bottom:40px;
    } 

    header img {
      width:280px;
      padding:25px 25px 10px 25px;
    }
    
    header .subheading {
      font-size:1em;
    }
    
    nav ul { 
      display:block;
      list-style-type: none; 
      margin: 0;
      padding: 0; 
      overflow:hidden;
      margin:0 auto;
      text-align:center;
    }
    
    nav ul li {
      display: inline-block; 
      padding:15px 0px;
    }
    
    nav ul li a { 
      font-size:1em;
      padding:.2em;
}
    
    p.town-article {padding-right:3%;}
    
    .left-side {float:left; display:inline-block; width:50%;}
    .right-side {float:right; display:inline-block; width:50%;}
    
  }